* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

.bold {
    font-weight: 700;
}
.red {
    color: red;
}
.right {
    text-align: right;
}
.uppercase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
.decoration {
    text-decoration: solid;
}
.center {
    text-align: center;
}
.text{
text-decoration: line-through;    
}
.shadow{
text-shadow: 1px 1px gray;
}