/* общие стили */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid #F6762C ;


}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    width: 165px;
    height: 49px;
    background-color: #F6762C;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.btn:hover{
    opacity: 0.7;
}



/* Шапка */

.header {
    padding: 25px 0px;   
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {

}

.header-nav {
    transition: opacity 0.3s;
 }

.header-nav a:hover{
   opacity: 0.8;
}

.header-list {
    display: flex;
    gap: 28px; 
}

.header-list a.active {
    opacity: 1;
}

.header-list a {
    font-style: 14px;
    opacity: 0.7;
}


