* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}


.block {
    padding: 20px;
}

.list {
    padding-top: 10px;
    list-style: none;
}

li {
    padding-top: 15px;
}

.list li::before{
    content: '\2713';
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.line {
    line-height: 36px;
    font-weight: 400;
    text-decoration: line-through;
    color: #273d46;
}

.line:hover {
    text-decoration: none;
}

.bold {
    line-height: 36px;
    font-weight: 700;
    color: #273d46;
}

.bold:hover {
    color: red;
}

.cursiv {
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    color: #273d46;
}

.cursiv:hover {
    font-style: normal;
}

.uppercase {
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #273d46;
}

.uppercase:hover{
    text-transform: capitalize;
}

form{
margin: 30px;
}

.txtbutton {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px;
    background-color: rgba(128, 183, 179, 0.54);
    border-radius: 10px;
}



.txtbutton:hover{
    color: #3a5856;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
}

.txtbutton::after{
    content: '\2192';
    width: 20px;
  height: 20px;
  margin-left: 16px;
  display: inline-block;
   
}

.text {
    display: block;
    width: 294px;
    height: 52px;
    border: 1px solid #b0b0b0;

}

.text:hover{
border: 1px solid #7fbed5;
box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}

p {
    font-family: Arial;
font-size: 18px;
line-height: 28px;
font-weight: 400;
}

.textp {
    max-width: 1000px;
    margin: 30px;
}

.text1::first-line{
    color: red;
}

.text2::first-letter{
    color: red;
    font-size: 30px;
}