*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.block {
    border: 10px solid fuchsia;
    width: 500px;
    height: 500px;
}

.block-row {
    display: flex;
    justify-content: space-between;
        
    
}
.block-column {
    
    border: 10px solid darkblue;
    
}

.block-item {
    border: 2px solid red;
    text-align: center;
    height: 100px;
    background-color: blueviolet;
}

