*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about {
}
.about__body {
}
.about__header {
}
.about__title {
}
.title {
}
.about__text {
}
.about__row {
}
.about__column {
}
.item-about {
}
.item-about__icon {
}
.item-about__title {
}
.item-about__text {
}